/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 245, 245;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #1a73e8;
  --secondary-color: #ff6d00;
  --accent-color: #34a853;
  --neutral-color: #f1f3f4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 28, 28, 30;
    --background-end-rgb: 40, 40, 42;
    --neutral-color: #3a3a3c;
  }
}
